fastapi
uvicorn
pydantic
python-dotenv
requests
langchain
langchain-classic
langchain-community
langchain-groq
langchain-huggingface
langchain-chroma
chromadb
neo4j
sentence-transformers
transformers
torch
scipy
numpy
pypdf
pymupdf
easyocr
Pillow
langchain-text-splitters
python-multipart
exa_py